.linkWrapper {
  margin-top: 16px;
  padding: 24px 18px 14px 24px;
  background: var(--card-link-background);
  position: relative;
  height: 130px;

  p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -2%;
    max-width: 230px;
  }

  svg {
    position: absolute;
    right: 18px;
    bottom: 14px;

  }
}