:root {
  --navbar-background: #080325;
  --font-white: #FFFFFF;
  --font-green: #2B825C;
  --font-red: #D1493D;
  --font-opacity: #CBCFD5;
  --font-neutral: #79808A;
  --font-black: #121212;
  --font-dark-blue: #344055;
  --font-purple: #4F46E5;
  --font-purple-opacity: #B8B6F7;
  --progress-outline: #4F46E5;
  --progress-background: #ededf5;
  --burger-background: #4F46E5;
  --background-purple: #4F46E5;
  --border-purple: #4F46E5;
  --white-background: #FFFFFF;
  --wallet-button-background: #F7F8FD;
  --card-link-background: #F7F8FD;
  --navigation-background-card-opacity: #191A38;
  --subtitle-color: #5B6776;
  --header-border: #E2E8F0;
  --user-cards-border: #E2E8F0;
  --from-input-border: #E2E8F0;
  --user-card-border-right: #E3E8EF;
  --bank-card-background: #F8FAFC;
  --title-table-background: #F8FAFC;
  --info: #4169E1;
  --error: #F44335;
  --link: #0073F5;
  --body: #FFFFFF;
  --white: #fff;
  --text: #434343;
  --textSecondary: #64676B;
  --popupBackground: rgba(100, 103, 107, 0.16);
  --disabled: #CDD0D4;
  --transparent: transparent;
}