.mainLayout {
  width: 100%;
  @media (max-width: 1110px) {
    max-height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background: var(--white);
      width: 5px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--background-purple);
      border-radius: 4px;
    }
  }
}

.active {
  background: var(--white);
  position: absolute;
  z-index: 2;
  height: 100vh;
}