.cardPin {
  padding: 12px 24px;
  background: var(--card-link-background);
  border: 1px solid var(--border-purple);
  box-shadow: 0 1px 3px rgba(16, 24, 40, 0.1), 0 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;


  .left {
    display: flex;
    align-items: center;

    p {
      color: var(--font-purple);
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
    }

    svg {
      margin-right: 16px;
    }
  }

  .right {
    button {
      border: 1px solid var(--from-input-border);
      color: var(--font-neutral-opacity);
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      padding: 8px 16px;
      background: var(--white);
      box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 1000px;
      margin-top: 0;
    }
  }
}

.chartHead {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .selects {
    display: flex;
    gap: 12px;
  }

  select {
    border: 1px solid #E2E8F0;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    padding: 6px 12px;
    outline: none;
  }

  .chartTitle {
    margin-bottom: 25px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
    color: var(--font-black);
  }
}

