@mixin centeredItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationWrapper {
  transform: translate(-300px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background: var(--navbar-background);
  color: var(--white);
  width: 0;
  max-width: 0;
  transition: .3s;
  padding: 0;

  .head {
    @include centeredItems;
    justify-content: space-between;
    margin-bottom: 24px;

    .logo {
      display: flex;
    }


  }

  .router {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .navBottom {
    .settings {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid var(--font-dark-blue);
      padding: 20px;

      svg {
        margin-right: 14px;
      }
    }

    .user {
      padding: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-right: 14px;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -1%;
      }
    }

    .logout {
      cursor: pointer;
      padding: 0 20px;
    }
  }
}


.active {
  transform: translate(0);
  width: 100%;
  max-width: 300px;
  padding: 24px 18px 52px 18px;

  .burger {
    position: fixed;
    left: 240px;

  }
}


.burger {
  @include centeredItems;
  position: fixed;
  left: 305px;
  top: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--burger-background);
  flex-direction: column;
  height: 40px;
  width: 40px;

  span {
    display: block;
    background: var(--white-background);
    width: 15px;
    height: 2px;
    margin: 1.5px;
    border-radius: 4px;
  }
}