@mixin centeredItems {
  display: flex;
  align-items: center;
}

.header {
  @include centeredItems;
  justify-content: space-between;
  width: 100%;
  padding: 0 52px;
  min-height: 105px;
  border-bottom: 1px solid var(--header-border);

  .headerLeft {
    display: flex;
    gap: 24px;

    svg {
      cursor: pointer;
    }
  }

  .headerRight {
    cursor: pointer;
    @include centeredItems;
    justify-content: center;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    border-radius: 50%;
    position: relative;
    transition: .3s;

    span {
      position: absolute;
      left: -155px;
      top: 2px;
      color: var(--font-white);
      font-size: 12px;
      width: 150px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      background: var(--background-purple);
      padding: 3px;
      border-radius: 4px;
    }

    &:hover {
      span {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}