.wrapper {
  position: relative;

  .notifications {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    background: var(--font-red);
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}